<!-- saved from url=(0014)about:internet -->
<html lang="ko"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/css/custom.css" />

		<style>
			.text-theme-0 { color: #ffffff; } .bd-theme-0 { border: 1px solid #ffffff; } .bdtd-theme-0 { border-top:
			solid 1px #ffffff; border-bottom: solid 1px #ffffff; } .bdd-theme-0 { border-bottom: solid 1px #ffffff; }
			.bg-theme-0, .btn-theme-0 { background-color: #ffffff; } .link-theme-0 { color: #ffffff; }
			.link-theme-0:focus, .link-theme-0:hover { text-decoration: none; color: #40444f; }
			.btn-theme-0:not(:disabled):not(.disabled).active, .btn-theme-0:not(:disabled):not(.disabled):active, .show
			> .btn-theme-0.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn-theme-0 { color: #ffffff; background-color: #ffffff; border: 0; outline: 0; } .btn-theme-0.focus,
			.btn-theme-0:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); }
			.btn2-theme-0:not(:disabled):not(.disabled).active, .btn2-theme-0:not(:disabled):not(.disabled):active,
			.show > .btn2-theme-0.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn2-theme-0 { color: #ffffff; background-color: #ffffff; border: 0; outline: 0; } .btn2-theme-0.focus,
			.btn2-theme-0:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); } .text-theme-1 { color: #ffffff; }
			.bd-theme-1 { border: 1px solid #ffffff; } .bdtd-theme-1 { border-top: solid 1px #ffffff; border-bottom:
			solid 1px #ffffff; } .bdd-theme-1 { border-bottom: solid 1px #ffffff; } .bg-theme-1, .btn-theme-1 {
			background-color: #ffffff; } .link-theme-1 { color: #ffffff; } .link-theme-1:focus, .link-theme-1:hover {
			text-decoration: none; color: #40444f; } .btn-theme-1:not(:disabled):not(.disabled).active,
			.btn-theme-1:not(:disabled):not(.disabled):active, .show > .btn-theme-1.dropdown-toggle { color: #ffffff;
			background-color: #40444f; border: 0; outline: 0; } .btn-theme-1 { color: #ffffff; background-color:
			#ffffff; border: 0; outline: 0; } .btn-theme-1.focus, .btn-theme-1:focus { box-shadow: 0 0 0 0 rgba(0, 123,
			255, 0.5); } .btn2-theme-1:not(:disabled):not(.disabled).active,
			.btn2-theme-1:not(:disabled):not(.disabled):active, .show > .btn2-theme-1.dropdown-toggle { color: #ffffff;
			background-color: #40444f; border: 0; outline: 0; } .btn2-theme-1 { color: #ffffff; background-color:
			#ffffff; border: 0; outline: 0; } .btn2-theme-1.focus, .btn2-theme-1:focus { box-shadow: 0 0 0 0 rgba(0,
			123, 255, 0.5); } .text-theme-2 { color: #000000; } .bd-theme-2 { border: 1px solid #000000; } .bdtd-theme-2
			{ border-top: solid 1px #000000; border-bottom: solid 1px #000000; } .bdd-theme-2 { border-bottom: solid 1px
			#000000; } .bg-theme-2, .btn-theme-2 { background-color: #000000; } .link-theme-2 { color: #000000; }
			.link-theme-2:focus, .link-theme-2:hover { text-decoration: none; color: #40444f; }
			.btn-theme-2:not(:disabled):not(.disabled).active, .btn-theme-2:not(:disabled):not(.disabled):active, .show
			> .btn-theme-2.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn-theme-2 { color: #ffffff; background-color: #000000; border: 0; outline: 0; } .btn-theme-2.focus,
			.btn-theme-2:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); }
			.btn2-theme-2:not(:disabled):not(.disabled).active, .btn2-theme-2:not(:disabled):not(.disabled):active,
			.show > .btn2-theme-2.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn2-theme-2 { color: #ffffff; background-color: #000000; border: 0; outline: 0; } .btn2-theme-2.focus,
			.btn2-theme-2:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); } .text-theme-3 { color: #ffd700; }
			.bd-theme-3 { border: 1px solid #ffd700; } .bdtd-theme-3 { border-top: solid 1px #ffd700; border-bottom:
			solid 1px #ffd700; } .bdd-theme-3 { border-bottom: solid 1px #ffd700; } .bg-theme-3, .btn-theme-3 {
			background-color: #ffd700; } .link-theme-3 { color: #ffd700; } .link-theme-3:focus, .link-theme-3:hover {
			text-decoration: none; color: #40444f; } .btn-theme-3:not(:disabled):not(.disabled).active,
			.btn-theme-3:not(:disabled):not(.disabled):active, .show > .btn-theme-3.dropdown-toggle { color: #ffffff;
			background-color: #40444f; border: 0; outline: 0; } .btn-theme-3 { color: #ffffff; background-color:
			#ffd700; border: 0; outline: 0; } .btn-theme-3.focus, .btn-theme-3:focus { box-shadow: 0 0 0 0 rgba(0, 123,
			255, 0.5); } .btn2-theme-3:not(:disabled):not(.disabled).active,
			.btn2-theme-3:not(:disabled):not(.disabled):active, .show > .btn2-theme-3.dropdown-toggle { color: #ffffff;
			background-color: #40444f; border: 0; outline: 0; } .btn2-theme-3 { color: #ffffff; background-color:
			#ffd700; border: 0; outline: 0; } .btn2-theme-3.focus, .btn2-theme-3:focus { box-shadow: 0 0 0 0 rgba(0,
			123, 255, 0.5); } .text-theme-4 { color: #000000; } .bd-theme-4 { border: 1px solid #000000; } .bdtd-theme-4
			{ border-top: solid 1px #000000; border-bottom: solid 1px #000000; } .bdd-theme-4 { border-bottom: solid 1px
			#000000; } .bg-theme-4, .btn-theme-4 { background-color: #000000; } .link-theme-4 { color: #000000; }
			.link-theme-4:focus, .link-theme-4:hover { text-decoration: none; color: #40444f; }
			.btn-theme-4:not(:disabled):not(.disabled).active, .btn-theme-4:not(:disabled):not(.disabled):active, .show
			> .btn-theme-4.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn-theme-4 { color: #ffffff; background-color: #000000; border: 0; outline: 0; } .btn-theme-4.focus,
			.btn-theme-4:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); }
			.btn2-theme-4:not(:disabled):not(.disabled).active, .btn2-theme-4:not(:disabled):not(.disabled):active,
			.show > .btn2-theme-4.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn2-theme-4 { color: #ffffff; background-color: #000000; border: 0; outline: 0; } .btn2-theme-4.focus,
			.btn2-theme-4:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); } .text-theme-5 { color: #0e1015; }
			.bd-theme-5 { border: 1px solid #0e1015; } .bdtd-theme-5 { border-top: solid 1px #0e1015; border-bottom:
			solid 1px #0e1015; } .bdd-theme-5 { border-bottom: solid 1px #0e1015; } .bg-theme-5, .btn-theme-5 {
			background-color: #0e1015; } .link-theme-5 { color: #0e1015; } .link-theme-5:focus, .link-theme-5:hover {
			text-decoration: none; color: #40444f; } .btn-theme-5:not(:disabled):not(.disabled).active,
			.btn-theme-5:not(:disabled):not(.disabled):active, .show > .btn-theme-5.dropdown-toggle { color: #ffffff;
			background-color: #40444f; border: 0; outline: 0; } .btn-theme-5 { color: #ffffff; background-color:
			#0e1015; border: 0; outline: 0; } .btn-theme-5.focus, .btn-theme-5:focus { box-shadow: 0 0 0 0 rgba(0, 123,
			255, 0.5); } .btn2-theme-5:not(:disabled):not(.disabled).active,
			.btn2-theme-5:not(:disabled):not(.disabled):active, .show > .btn2-theme-5.dropdown-toggle { color: #ffffff;
			background-color: #40444f; border: 0; outline: 0; } .btn2-theme-5 { color: #ffffff; background-color:
			#0e1015; border: 0; outline: 0; } .btn2-theme-5.focus, .btn2-theme-5:focus { box-shadow: 0 0 0 0 rgba(0,
			123, 255, 0.5); } .text-theme-6 { color: #1f222a; } .bd-theme-6 { border: 1px solid #1f222a; } .bdtd-theme-6
			{ border-top: solid 1px #1f222a; border-bottom: solid 1px #1f222a; } .bdd-theme-6 { border-bottom: solid 1px
			#1f222a; } .bg-theme-6, .btn-theme-6 { background-color: #1f222a; } .link-theme-6 { color: #1f222a; }
			.link-theme-6:focus, .link-theme-6:hover { text-decoration: none; color: #40444f; }
			.btn-theme-6:not(:disabled):not(.disabled).active, .btn-theme-6:not(:disabled):not(.disabled):active, .show
			> .btn-theme-6.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn-theme-6 { color: #ffffff; background-color: #1f222a; border: 0; outline: 0; } .btn-theme-6.focus,
			.btn-theme-6:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); }
			.btn2-theme-6:not(:disabled):not(.disabled).active, .btn2-theme-6:not(:disabled):not(.disabled):active,
			.show > .btn2-theme-6.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn2-theme-6 { color: #ffffff; background-color: #1f222a; border: 0; outline: 0; } .btn2-theme-6.focus,
			.btn2-theme-6:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); } .text-theme-7 { color: #30343f; }
			.bd-theme-7 { border: 1px solid #30343f; } .bdtd-theme-7 { border-top: solid 1px #30343f; border-bottom:
			solid 1px #30343f; } .bdd-theme-7 { border-bottom: solid 1px #30343f; } .bg-theme-7, .btn-theme-7 {
			background-color: #30343f; } .link-theme-7 { color: #30343f; } .link-theme-7:focus, .link-theme-7:hover {
			text-decoration: none; color: #40444f; } .btn-theme-7:not(:disabled):not(.disabled).active,
			.btn-theme-7:not(:disabled):not(.disabled):active, .show > .btn-theme-7.dropdown-toggle { color: #ffffff;
			background-color: #40444f; border: 0; outline: 0; } .btn-theme-7 { color: #ffffff; background-color:
			#30343f; border: 0; outline: 0; } .btn-theme-7.focus, .btn-theme-7:focus { box-shadow: 0 0 0 0 rgba(0, 123,
			255, 0.5); } .btn2-theme-7:not(:disabled):not(.disabled).active,
			.btn2-theme-7:not(:disabled):not(.disabled):active, .show > .btn2-theme-7.dropdown-toggle { color: #ffffff;
			background-color: #40444f; border: 0; outline: 0; } .btn2-theme-7 { color: #ffffff; background-color:
			#30343f; border: 0; outline: 0; } .btn2-theme-7.focus, .btn2-theme-7:focus { box-shadow: 0 0 0 0 rgba(0,
			123, 255, 0.5); } .text-theme-8 { color: #40444f; } .bd-theme-8 { border: 1px solid #40444f; } .bdtd-theme-8
			{ border-top: solid 1px #40444f; border-bottom: solid 1px #40444f; } .bdd-theme-8 { border-bottom: solid 1px
			#40444f; } .bg-theme-8, .btn-theme-8 { background-color: #40444f; } .link-theme-8 { color: #40444f; }
			.link-theme-8:focus, .link-theme-8:hover { text-decoration: none; color: #40444f; }
			.btn-theme-8:not(:disabled):not(.disabled).active, .btn-theme-8:not(:disabled):not(.disabled):active, .show
			> .btn-theme-8.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn-theme-8 { color: #ffffff; background-color: #40444f; border: 0; outline: 0; } .btn-theme-8.focus,
			.btn-theme-8:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); }
			.btn2-theme-8:not(:disabled):not(.disabled).active, .btn2-theme-8:not(:disabled):not(.disabled):active,
			.show > .btn2-theme-8.dropdown-toggle { color: #ffffff; background-color: #40444f; border: 0; outline: 0; }
			.btn2-theme-8 { color: #ffffff; background-color: #40444f; border: 0; outline: 0; } .btn2-theme-8.focus,
			.btn2-theme-8:focus { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5); } .bdd-theme-b { border-bottom: solid 1px
			#000000; } .ad-top { width: 300px; height: 50px; } .ad-bottom { position: fixed; left: 0px; bottom: -1px;
			height: 92px; width: 100%; background: white; background: rgba(0, 0, 0, 0.3); color: white; min-height:
			92px; margin: 0 auto 0; text-align: center; overflow: hidden; } .ad-bottom-m { position: fixed; left: 0px;
			bottom: -1px; height: 52px; width: 100%; background: white; background: rgba(0, 0, 0, 0.3); color: white;
			min-height: 52px; margin: 0 auto 0; text-align: center; overflow: hidden; } .ad-middle { height: 90px;
			width: 100%; min-height: 90px; margin: 0 auto 0; text-align: center; overflow: hidden; } .ad-middle-m {
			height: 100px; width: 100%; min-height: 100px; margin: 0 auto 0; text-align: center; overflow: hidden; }
			@media (max-width: 767px) { .ad-top { display: none; } .ad-bottom ins { display: none; } } @media
			(min-width: 768px) { .ad-top { width: 728px; height: 250px; } .ad-bottom ins { width: 728px; height: 90px;
			bottom: 0px; } } @media (min-width: 992px) { .ad-top { width: 970px; height: 250px; } .ad-bottom ins {
			width: 728px; height: 90px; bottom: 0px; } } .adsense { min-height: 280px; width: 100%; margin: 0 auto;
			text-align: center; overflow: hidden; } .adsense ins { max-width: 100%; width: 336px; height: 280px; margin:
			0 auto; } @media (max-width: 727px) { .adsense { display: none; } } @media (min-width: 728px) { .adsense {
			max-height: 280px; } .adsense, .adsense ins { min-height: 280px; } } @media (min-width: 1200px) { .adsense {
			max-height: 280px; } .adsense, .adsense ins { min-height: 280px; } } .adsense-ch { min-height: 250px; width:
			100%; margin: 0 auto; text-align: center; overflow: hidden; } .adsense-ch ins { max-width: 100%; width:
			970px; height: 250px; margin: 0 auto; } @media (max-width: 727px) { .adsense-ch { display: none; } } @media
			(min-width: 728px) { .adsense-ch { max-height: 90px; } .adsense-ch, .adsense-ch ins { min-height: 90px; } }
			@media (min-width: 1200px) { .adsense-ch { max-height: 250px; } .adsense-ch, .adsense-ch ins { min-height:
			250px; } } .adsense-i { min-height: 94px; width: 100%; margin: 0 auto 4px; text-align: center; overflow:
			hidden; } .adsense-i ins { max-width: 100%; width: 970px; height: 94px; margin: 0 auto; } @media (max-width:
			727px) { .adsense-i { display: none; } } @media (min-width: 728px) { .adsense-i { max-height: 94px; }
			.adsense-i, .adsense-i ins { min-height: 94px; } } @media (min-width: 1200px) { .adsense-i { max-height:
			94px; } .adsense-i, .adsense-i ins { min-height: 94px; } } .adsense-m { min-height: 250px; width: 100%;
			margin: 0 auto 10px; text-align: center; overflow: hidden; } @media (max-width: 727px) { .adsense-m {
			display: block; } } @media (min-width: 728px) { .adsense-m { display: none; } } .nav-tabs .nav-theme-link {
			border: 1px solid transparent; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; }
			.nav-tabs .nav-theme-link:focus, .nav-tabs .nav-theme-link:hover { border-color: #e9ecef #e9ecef #dee2e6; }
			.nav-tabs .nav-theme-link.disabled { color: #ffffff; background-color: transparent; border-color:
			transparent; } .nav-tabs .nav-item.show .nav-theme-link, .nav-tabs .nav-theme-link.active { color: #ffffff;
			background-color: #fff; border-color: #dee2e6 #dee2e6 #fff; } .nav-tabs .dropdown-menu { margin-top: -1px;
			border-top-left-radius: 0; border-top-right-radius: 0; } .nav-pills .nav-theme-link {
			border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; } .nav-pills .nav-theme-link.active,
			.nav-pills .show > .nav-theme-link { color: #ffffff; background-color: #000000; } .nav-theme-link { display:
			block; padding: 0.5rem 1rem; color: #ffffff; } .nav-theme-link:focus, .nav-theme-link:hover {
			text-decoration: none; color: #ffffff; } .nav-theme-link.disabled { color: #ffffff; } #loadingBar { width:
			100%; height: 100%; top: 0px; left: 0px; position: fixed; display: block; opacity: 0.7; background-color:
			#000; z-index: 99; text-align: center; } #loading-image { position: absolute; top: 50%; left: 50%; z-index:
			100; }
		</style>
	</head>
	<body class="p-0 bg-theme-5" style="overflow-x: hidden">
		<div class="container">
			<div class="row pt-0 pb-2 pl-0 pr-0">
				<div class="col-md-2 d-none d-md-block"></div>
				<div class="col-lg-12 col-md-8 pl-0 pr-0 pb-0 pt-1">
					<header
						class="navbar navbar-expand navbar-dark flex-column flex-xl-row bd-navbar pl-0 pr-0 pt-1 pb-0"
					>
						<a class="navbar-brand mr-0 mr-md-2 pt-0 pl-4 pr-4 pb-0" href="/" aria-label="loawa"><span
								class="text-theme-1 d-none d-xl-block"
							>
							</span><img src="/images/logo.png" style="width: 100px;" /></a>
						<ul class="navbar-nav ml-xl-auto">
							<li class="nav-item">
								<div class="pt-0 pl-0 pr-0 pb-0 m-0">
									<form class="input-group input-group-sm pt-0 pb-0 pl-4 pr-4 m-0" action="/search">
										<input
											id="character"
											class="form-control form-control-sm text-center pt-1 pb-1 pl-0 pr-0 m-0 rounded-left bg-theme-4 bd-theme-8"
											style="width: 169px"
											name="username"
											type="text"
											placeholder="검색할 캐릭터명을 입력"
											aria-label="Search"
											list="choices"
											autocomplete="off"
										/>
										<div class="input-group-append">
											<button
												id="btn"
												class="btn bg-theme-8 text-theme-1 rounded-right"
												type="submit"
											>
												검색
											</button>
										</div>
										<datalist id="choices"> </datalist>
									</form>
								</div>
							</li>
						</ul>
					</header>
				</div>
				<div class="col-md-2 d-none d-md-block"></div>
			</div>
		</div>

		<h6></h6>

		<div class="container">
			<div class="row">
				<div class="col-xl-1 d-none d-xl-block">
					<div id="ad_left_xl"></div>
					<div
						id="ad_left_v"
						style="
							position: absolute;
							top: -50px;
							right: 30px;
							width: 300px;
							max-height: 600px;
							height: 100%;
							display: none;
						"
					>
						<ins
							class="adsbygoogle"
							style="display: block"
							data-ad-client="ca-pub-9610459397870129"
							data-ad-slot="3028997520"
							data-ad-format="vertical"
							data-full-width-responsive="true"
						></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div id="ad_left_xl2"></div>
					<div
						id="ad_left_v2"
						style="
							position: absolute;
							top: 571px;
							right: 235px;
							width: 100%;
							max-width: 300px;
							max-height: 250px;
							height: 100%;
							display: none;
						"
					>
						<ins
							class="adsbygoogle"
							style="
								display: inline-block;
								width: 300px;
								height: 250px;
							"
							data-ad-client="ca-pub-9610459397870129"
							data-ad-slot="2432962112"
						></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>

					<div id="ad_left_lg"></div>
				</div>

				<div class="col col-xl-10 p-0 m-0">
					<div class="row p-0 m-0">
						<div class="col p-0 m-0">
							<div class="bg-theme-4 rounded shadow-sm pt-2 pb-2 pr-0 pl-0 text-left bd-theme-8">
								<div class="pl-2 pr-2 pt-0 pb-0 m-0" style="position: relative">
									<p class="p-0 m-0 text-left">
										<strong class="tfs14 text-theme-1">{{characterName}}</strong>
									</p>
								</div>
							</div>
							<h6></h6>
							<div class="row p-0 m-0">
								<div class="d-none d-md-block col-4 pl-0 pr-2">
									<div class="bg-theme-4 rounded shadow-sm pt-2 pb-0 pr-0 pl-0 text-left bd-theme-8">
										<div class="pl-2 pb-1 pr-0">
											<span
												class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
											>&nbsp;서&nbsp;&nbsp;&nbsp;버&nbsp;</span><span
												class="text-theme-0 tfs14"
											>{{server}}</span>
										</div>
										<div class="pl-2 pb-1 pr-0 mp">
											<span
												class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
											>&nbsp;길&nbsp;&nbsp;&nbsp;드&nbsp;</span><span
												class="text-theme-0 tfs14"
											>{{guild}}</span>
										</div>
										<div class="pl-2 pb-1 pr-0">
											<span
												class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
											>&nbsp;클래스&nbsp;</span><span
												class="text-theme-0 tfs14"
											>{{characterClass}}</span>
										</div>
										<div class="pl-2 pb-1 pr-0">
											<span
												class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
											>&nbsp;칭&nbsp;&nbsp;&nbsp;호&nbsp;</span><span
												class="text-theme-0 tfs14"
											>{{characterTitle}}</span>
										</div>
										<div class="pl-2 pb-1 pr-0">
											<span
												class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
											>&nbsp;전&nbsp;&nbsp;&nbsp;투&nbsp;</span>&nbsp;<span
												class="text-theme-0 tfs14"
											>{{level}}</span>
										</div>
										<div class="pl-2 pb-1 pr-0">
											<span
												class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
											>&nbsp;아이템&nbsp;</span>&nbsp;<span
												class="text-theme-0 tfs14"
											>{{itemLevel}}</span>
										</div>
										<div class="pl-2 pb-1 pr-0">
											<span
												class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
											>&nbsp;원정대&nbsp;</span><span
												class="text-theme-0 tfs14"
											>{{expeditionLevel}}</span>
										</div>
										<div class="pl-2 pb-1 pr-0">
											<span
												class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
											>&nbsp;&nbsp;P&nbsp;V&nbsp;P&nbsp;&nbsp;</span><span
												class="text-theme-0 tfs14"
											>{{duelLevel}}</span>
										</div>
										<div class="pl-2 pb-2 pr-0">
											<span
												class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
											>&nbsp;영&nbsp;&nbsp;&nbsp;지&nbsp;</span><span
												class="text-theme-0 tfs14"
											>{{possessionLevel}}</span>
										</div>
									</div>
									<h6></h6>

									<h6></h6>

									<h6></h6>
									<div class="bg-theme-4 rounded shadow-sm text-center bd-theme-8">
										<div class="p-0 m-0 bg-theme-8">
											<p class="p-1 m-0 text-center rounded-top">
												<span class="text-theme-1 tfs15"><strong>수집형 포인트</strong></span>
											</p>
										</div>
										<div class="media p-0 m-0 d-flex justify-content-center">
											<div class="p-1 text-center">
												<img src="/images/collective/collect_00.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{island}}</span>
											</div>
											<div class="p-1 text-center">
												<img src="/images/collective/collect_01.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{star}}</span>
											</div>
											<div class="p-1 text-center">
												<img src="/images/collective/collect_02.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{heart}}</span>
											</div>
											<div class="p-1 text-center">
												<img src="/images/collective/collect_03.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{picture}}</span>
											</div>
											<div class="d-none d-lg-block p-1 text-center">
												<img src="/images/collective/collect_04.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{mokoko}}</span>
											</div>
											<div class="d-none d-lg-block p-1 text-center">
												<img src="/images/collective/collect_05.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{expedition}}</span>
											</div>
											<div class="d-none d-lg-block p-1 text-center">
												<img src="/images/collective/collect_06.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{ignea}}</span>
											</div>
											<div class="d-none d-lg-block p-1 text-center">
												<img src="/images/collective/collect_07.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{leaf}}</span>
											</div>
										</div>
										<div class="media pl-2 pb-0 m-0 d-flex justify-content-center">
											<div class="d-block d-lg-none p-1 text-center">
												<img src="/images/collective/collect_04.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{mokoko}}</span>
											</div>
											<div class="d-block d-lg-none p-1 text-center">
												<img src="/images/collective/collect_05.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{expedition}}</span>
											</div>
											<div class="d-block d-lg-none p-1 text-center">
												<img src="/images/collective/collect_06.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{ignea}}</span>
											</div>
											<div class="d-block d-lg-none p-1 text-center">
												<img src="/images/collective/collect_07.png" /><br /><span
													class="text-theme-0 tfs14"
												>{{leaf}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col pl-0 pr-0">
									<div class="bg-theme-4 rounded shadow-sm pt-2 pb-0 pr-0 pl-0 text-left bd-theme-8">
										<div class="d-block d-md-none p-0 m-0">
											<div class="media pl-0 pt-2 pb-2">
												<div class="col-5 pl-2 pr-0">
													<span
														class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
													>&nbsp;서&nbsp;&nbsp;&nbsp;버&nbsp;</span><span
														class="text-theme-0 tfs14"
													>{{server}}</span>
												</div>
												<div class="col-7 pl-0 pr-0 mp">
													<span
														class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
													>&nbsp;길&nbsp;&nbsp;&nbsp;드&nbsp;</span><span
														class="text-theme-0 tfs14"
													>&nbsp;{{guild}}</span>
												</div>
											</div>
											<div class="media pl-0 pb-2">
												<div class="col-5 pl-2 pr-0">
													<span
														class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
													>&nbsp;클래스&nbsp;</span><span
														class="text-theme-0 tfs14"
													>{{characterClass}}</span>
												</div>
												<div class="col-7 pl-0 pr-0">
													<span
														class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
													>&nbsp;칭&nbsp;&nbsp;&nbsp;호&nbsp;</span><span
														class="text-theme-0 tfs14"
													>{{characterTitle}}</span>
												</div>
											</div>
											<div class="media pl-0 pb-2">
												<div class="col-5 pl-2 pr-0">
													<span
														class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
													>&nbsp;전&nbsp;&nbsp;&nbsp;투&nbsp;</span>&nbsp;<span
														class="text-theme-0 tfs14"
													>{{level}}</span>
												</div>
												<div class="col-7 pl-0 pr-0">
													<span
														class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
													>&nbsp;아이템&nbsp;</span>&nbsp;<span
														class="text-theme-0 tfs14"
													>{{itemLevel}}</span>
												</div>
											</div>
											<div class="media pl-0 pb-2">
												<div class="col-5 pl-2 pr-0">
													<span
														class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
													>&nbsp;원정대&nbsp;</span><span
														class="text-theme-0 tfs14"
													>{{expeditionLevel}}</span>
												</div>
												<div class="col-7 pl-0 pr-0">
													<span
														class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
													>&nbsp;P&nbsp;V&nbsp;P&nbsp;&nbsp;</span><span
														class="text-theme-0 tfs14"
													>{{duelLevel}}</span>
												</div>
											</div>
											<div class="d-flex media pl-0 pr-2 pb-2">
												<div class="flex-grow-1 pl-2 pr-0">
													<span
														class="badge badge-pill bg-theme-8 text-theme-1 tfs14 w500"
													>&nbsp;영&nbsp;&nbsp;&nbsp;지&nbsp;</span><span
														class="text-theme-0 tfs14"
													>{{possessionLevel}}</span>
												</div>
												<div
													id="item_all_on"
													style="display: none"
													class="pt-0 pb-0 pl-0 pr-1 m-0"
												>
													<button
														id="close_item_all"
														type="button&quot;"
														class="rounded shadow-sm pl-1 pr-1 btn-block m-0 bg-theme-8 text-center border-0 mp"
													>
														<span
															class="text-theme-1 tfs14"
															style="
																letter-spacing: -1px;
															"
														><strong>ilv-A</strong></span>
													</button>
												</div>
												<div
													id="item_server_on"
													style="display: none"
													class="pt-0 pb-0 pl-0 pr-1 m-0"
												>
													<button
														id="close_item_server"
														type="button&quot;"
														class="rounded shadow-sm pl-1 pr-1 btn-block m-0 bg-theme-8 text-center border-0 mp"
													>
														<span
															class="text-theme-1 tfs14"
															style="
																letter-spacing: -1px;
															"
														><strong>ilv-S</strong></span>
													</button>
												</div>
												<div
													id="item_collect_on"
													style="display: none"
													class="pt-0 pb-0 pl-0 pr-1 m-0"
												>
													<button
														id="close_item_collect"
														type="button&quot;"
														class="rounded shadow-sm pl-1 pr-1 btn-block m-0 bg-theme-8 text-center border-0 mp"
													>
														<span
															class="text-theme-1 tfs14"
															style="
																letter-spacing: -1px;
															"
														><strong>Collect</strong></span>
													</button>
												</div>
											</div>
											<div id="item_collect_off" class="pl-2 pb-0 pr-2 m-0">
												<button
													id="open_item_collect"
													type="button"
													class="pb-1 btn-block m-0 bg-theme-8 text-center border-0 mp rounded shadow-sm"
												>
													<span class="text-theme-1 tfs14"><strong>수집형 포인트<span
																class="float-right"
															>×</span></strong></span>
												</button>
												<div class="media pl-2 pb-2 m-0 d-flex justify-content-center">
													<div class="p-1 text-center" style="width: 12%">
														<img src="/images/collective/collect_00.png" /><br /><span
															class="text-theme-0 tfs14"
														>{{island}}</span>
													</div>
													<div class="p-1 text-center" style="width: 12%">
														<img src="/images/collective/collect_01.png" /><br /><span
															class="text-theme-0 tfs14"
														>{{star}}</span>
													</div>
													<div class="p-1 text-center" style="width: 12%">
														<img src="/images/collective/collect_02.png" /><br /><span
															class="text-theme-0 tfs14"
														>{{heart}}</span>
													</div>
													<div class="p-1 text-center" style="width: 12%">
														<img src="/images/collective/collect_03.png" /><br /><span
															class="text-theme-0 tfs14"
														>{{picture}}</span>
													</div>
													<div class="p-1 text-center" style="width: 12%">
														<img src="/images/collective/collect_04.png" /><br /><span
															class="text-theme-0 tfs14"
														>{{mokoko}}</span>
													</div>
													<div class="p-1 text-center" style="width: 12%">
														<img src="/images/collective/collect_05.png" /><br /><span
															class="text-theme-0 tfs14"
														>{{expedition}}</span>
													</div>
													<div class="p-1 text-center" style="width: 12%">
														<img src="/images/collective/collect_06.png" /><br /><span
															class="text-theme-0 tfs14"
														>{{ignea}}</span>
													</div>
													<div class="p-1 text-center" style="width: 12%">
														<img src="/images/collective/collect_07.png" /><br /><span
															class="text-theme-0 tfs14"
														>{{leaf}}</span>
													</div>
												</div>
											</div>
										</div>
										<h6 class="d-block d-md-none"></h6>
										<div class="bg-theme-4 rounded p-0 m-0">
											<div
												class="btn-group btn-group-toggle btn-block pt-0 pb-2 pr-2 pl-2"
												data-toggle="buttons"
											>
												<label class="btn bg-theme-5 btn2-theme-4 btn-sm shadow-sm active">
													<input type="radio" name="sattribute" value="1" checked="" /><span
														class="tfs15"
													><strong>&nbsp;능력치&nbsp;</strong></span>
												</label>
											</div>
											<div id="open-view1" style="">
												<div class="pt-0 pb-0 pl-2 pr-2 m-0">
													<div class="pt-1 pl-1 pr-0 pb-0 tfs14 bg-theme-5 rounded-top">
														<ul
															class="nav nav-pills mb-0 pl-0 pr-0 pb-0"
															id="first_equipTab"
															role="tablist"
														>
															<li class="nav-item" role="presentation">
																<strong
																	class="tfs14 text-theme-1"
																>&nbsp;장비&nbsp;</strong>
															</li>
														</ul>
													</div>
												</div>
												<div class="tab-content" id="first_equipTabContent">
													<div
														class="tab-pane fade show active"
														id="first_home"
														role="tabpanel"
														aria-labelledby="first_home-tab"
													>
														<div class="row pt-0 pb-0 pl-2 pr-2 m-0">
															<div
																id="first_equipbox1"
																class="col-6 pt-1 pl-1 pr-1 pb-1 tfs14 bg-theme-5"
															>
																<div
																	class="pt-2 pb-0 pl-1 pr-0 rounded shadow-sm bg-theme-4"
																>
																	<div id="first_equip1">
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot1"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{hat.icon}}
																				class="{{hat.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>머리</strong>
																				</span><span
																					class="d-block text-{{hat.tier}}"
																				>{{hat.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>

																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot5"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{shoulder.icon}}
																				class="{{shoulder.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>어깨</strong>
																				</span><span
																					class="d-block text-{{shoulder.tier}}"
																				>{{shoulder.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot5"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot5label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot2"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{top.icon}}
																				class="{{top.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>상의</strong>
																				</span><span
																					class="d-block text-{{top.tier}}"
																				>{{top.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot2"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot2label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot3"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{bottom.icon}}
																				class="{{bottom.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>하의</strong>
																				</span><span
																					class="d-block text-{{bottom.tier}}"
																				>{{bottom.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot3"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot3label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot4"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{gloves.icon}}
																				class="{{gloves.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>장갑</strong>
																				</span><span
																					class="d-block text-{{gloves.tier}}"
																				>{{gloves.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot4"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot4label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot0"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{weapon.icon}}
																				class="{{weapon.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>무기</strong>
																				</span><span
																					class="d-block text-{{weapon.tier}}"
																				>{{weapon.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot0"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot0label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="d-flex justify-content-start pt-1 pl-0 pr-0 pb-0 m-0"
																		>
																			<div class="media p-0 m-0">
																				<img
																					src={{engravement.first.icon}}
																					class="w46 d-none d-lg-block"
																					alt=""
																				/>
																				<p
																					class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																					style="
																						letter-spacing: -1.2px;
																					"
																				>
																					<span
																						class="d-block text-{{engravement.first.tier}}"
																					>&nbsp;&nbsp;<strong
																						>{{engravement.first.name}}</strong></span>&nbsp;&nbsp;<span
																						class="text-theme-0"
																					>{{engravement.first.stat}}</span>
																				</p>
																			</div>
																			<div class="media p-0 m-0">
																				<img
																					src={{engravement.second.icon}}
																					class="w46 d-none d-lg-block"
																					alt=""
																				/>
																				<p
																					class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																					style="
																						letter-spacing: -1.2px;
																					"
																				>
																					<span
																						class="d-block text-{{engravement.second.tier}}"
																					>&nbsp;&nbsp;<strong
																						>{{engravement.second.name}}</strong></span>&nbsp;&nbsp;<span
																						class="text-theme-0"
																					>{{engravement.second.stat}}</span>
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div
																id="first_equipbox2"
																class="col-6 pt-1 pl-1 pr-1 pb-1 tfs14 bg-theme-5"
															>
																<div
																	class="pt-2 pb-0 pl-1 pr-0 rounded shadow-sm bg-theme-4"
																>
																	<div id="first_equip2">
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot6"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{necklace.icon}}
																				class="{{necklace.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>목걸이</strong>
																				</span><span
																					class="d-block text-{{necklace.tier}}"
																				>{{necklace.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot6"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot6label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot7"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{earringOne.icon}}
																				class="{{earringOne.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>귀걸이1</strong>
																				</span><span
																					class="d-block text-{{earringOne.tier}}"
																				>{{earringOne.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot7"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot7label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot8"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{earringTwo.icon}}
																				class="{{earringTwo.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>귀걸이2</strong>
																				</span><span
																					class="d-block text-{{earringTwo.tier}}"
																				>{{earringTwo.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot8"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot8label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot9"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{ringOne.icon}}
																				class="{{ringOne.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>반지1</strong>
																				</span><span
																					class="d-block text-{{ringOne.tier}}"
																				>{{ringOne.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot9"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot9label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot10"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{ringTwo.icon}}
																				class="{{ringTwo.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>반지2</strong>
																				</span><span
																					class="d-block text-{{ringTwo.tier}}"
																				>{{ringTwo.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot10"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot10label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot26"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{bracelet.icon}}
																				class="{{bracelet.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>팔찌</strong>
																				</span><span
																					class="d-block text-{{bracelet.tier}}"
																				>{{bracelet.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			></div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot26"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot26label"
																			aria-hidden="true"
																		>

																		</div>
																		<div
																			class="media pt-0 pb-0 mp"
																			data-toggle="modal"
																			data-target="#equip_slot11"
																			style="
																				position: relative;
																			"
																		>
																			<img
																				src={{abilityStone.icon}}
																				class="{{abilityStone.tier}}
																					w46 img-thumbnail pb-2 mb-1"
																				alt=""
																			/>
																			<p
																				class="media-body pb-2 pl-0 mt-0 mb-0 pr-2 lh-125 d-inline-block text-truncate text-left"
																				style="
																					letter-spacing: -1.2px;
																				"
																			>
																				<span
																					class="d-block text-theme-0"
																				>&nbsp;&nbsp;<strong>어빌리티 스톤</strong>
																				</span><span
																					class="d-block text-{{abilityStone.tier}}"
																				>{{abilityStone.name}}</span>
																			</p>
																			<div
																				style="
																					position: absolute;
																				"
																			>

																				<img
																					src="/images/stone/p{{abilityStoneStat.buffFirst}}.png"
																					class="img-thumbnail p-0"
																					style="
																						margin-top: 36px;
																						width: 16px;
																					"
																				/><img
																					src="/images/stone/p{{abilityStoneStat.buffSecond}}.png"
																					class="img-thumbnail p-0"
																					style="
																						margin-top: 36px;
																						margin-left: -1px;
																						width: 16px;
																					"
																				/><img
																					src="/images/stone/m{{abilityStoneStat.debuff}}.png"
																					class="img-thumbnail p-0"
																					style="
																						margin-top: 36px;
																						margin-left: -1px;
																						width: 16px;
																					"
																				/>
																			</div>
																		</div>
																		<div
																			class="modal fade"
																			id="equip_slot11"
																			tabindex="-1"
																			role="dialog"
																			aria-labelledby="equip_slot11label"
																			aria-hidden="true"
																		>

																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

													<h6></h6>
												</div>
												<div class="pt-0 pb-0 pl-2 pr-2 m-0">
													<div class="pt-1 pl-2 pr-0 pb-0 tfs14 bg-theme-5 rounded-top">
														<ul
															class="nav nav-pills mb-0 pl-0 pr-0 pb-0"
															id="equipTab"
															role="tablist"
														>
															<li class="nav-item text-center" role="presentation">
																<strong class="tfs14 text-theme-1">특성/각인</strong>
															</li>
														</ul>
													</div>
												</div>
												<div class="tab-content" id="equipTabContent">
													<div
														class="tab-pane fade show active"
														id="contact"
														role="tabpanel"
														aria-labelledby="contact-tab"
													>
														<div class="row pt-0 pb-0 pl-2 pr-2 m-0">
															<div
																id="qulbox1"
																class="col-5 col-md-4 pt-1 pl-1 pr-1 pb-1 tfs14 bg-theme-5"
															>
																<div
																	class="pt-2 pb-2 pl-1 pr-1 rounded shadow-sm bg-theme-4 text-left"
																>
																	<div
																		class="p-0 mp"
																		data-toggle="modal"
																		data-target="#AddedEffect1"
																	>
																		<span
																			class="badge badge-pill btn-block bg-theme-8 text-theme-1 tfs14"
																		>기본 특성<span class="float-right"><svg
																					xmlns="http://www.w3.org/2000/svg"
																					width="16"
																					height="16"
																					fill="currentColor"
																					class="bi bi-file-earmark-medical"
																					viewBox="0 0 16 16"
																				>
																					<path
																						d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"
																					></path>
																					<path
																						d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
																					></path></svg></span></span><br />
																		<div class="row pt-1 pb-0 pl-0 pr-0 m-0">
																			<div class="col text-center p-0 m-0">
																				<span
																					class="tfs14 text-theme-0"
																				>공격력<br /><span
																						class="text-grade5"
																					>{{combatPower}}</span></span>
																			</div>
																			<div class="col text-center p-0 m-0">
																				<span
																					class="tfs14 text-theme-0 text-nowrap"
																					style="
																						letter-spacing: -1.5px;
																					"
																				>최대 생명력<br /></span><span
																					class="text-grade5"
																				>{{healthPoint}}</span>
																			</div>
																		</div>
																		<h6></h6>
																		<span
																			class="badge badge-pill btn-block bg-theme-8 text-theme-1 tfs14"
																		>전투 특성<span class="float-right"><svg
																					xmlns="http://www.w3.org/2000/svg"
																					width="16"
																					height="16"
																					fill="currentColor"
																					class="bi bi-file-earmark-medical"
																					viewBox="0 0 16 16"
																				>
																					<path
																						d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"
																					></path>
																					<path
																						d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
																					></path></svg></span></span><br />
																		<div class="row pt-1 pb-0 pl-0 pr-0 m-0">
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">치명
																					<span class="text-grade5"><span
																							class="text-theme-4"
																						>0</span>{{criticalScore}}</span></span>
																			</div>
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">특화
																					<span
																						class="text-grade5"
																					>{{specializationScore}}</span></span>
																			</div>
																		</div>
																		<div class="row p-0 m-0">
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">제압
																					<span class="text-grade5"><span
																							class="text-theme-4"
																						>00</span>{{suppressScore}}</span></span>
																			</div>
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">신속
																					<span class="text-grade5"><span
																							class="text-theme-4"
																						>00</span>{{speedScore}}</span></span>
																			</div>
																		</div>
																		<div class="row p-0 m-0">
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">인내
																					<span class="text-grade5"><span
																							class="text-theme-4"
																						>00</span>{{patienceScore}}</span></span>
																			</div>
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">숙련
																					<span class="text-grade5"><span
																							class="text-theme-4"
																						>00</span>{{skilledScore}}</span></span>
																			</div>
																		</div>
																		<h6></h6>
																		<div class="row p-0 m-0">
																			<span
																				class="badge badge-pill btn-block bg-theme-8 text-theme-1 tfs14"
																			>성향<span class="float-right"><svg
																						xmlns="http://www.w3.org/2000/svg"
																						width="16"
																						height="16"
																						fill="currentColor"
																						class="bi bi-file-earmark-medical"
																						viewBox="0 0 16 16"
																					>
																						<path
																							d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"
																						></path>
																						<path
																							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
																						></path></svg></span></span><br
																			/>
																		</div>
																		<div class="row pt-1 pb-0 pl-0 pr-0 m-0">
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">지성
																					<span class="text-grade5"><span
																							class="text-theme-4"
																						>0</span>{{intelligence}}</span></span>
																			</div>
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">담력
																					<span class="text-grade5"><span
																							class="text-theme-4"
																						>0</span>{{courage}}</span></span>
																			</div>
																		</div>
																		<div class="row p-0 m-0">
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">매력
																					<span class="text-grade5"><span
																							class="text-theme-4"
																						>0</span>{{charming}}</span></span>
																			</div>
																			<div class="col text-center p-0 m-0">
																				<span class="tfs14 text-theme-0">친절
																					<span class="text-grade5"><span
																							class="text-theme-4"
																						>0</span>{{kindness}}</span></span>
																			</div>
																		</div>
																	</div>
																	<div
																		class="modal fade"
																		id="AddedEffect1"
																		tabindex="-1"
																		role="dialog"
																		aria-labelledby="AddedEffect1label"
																		aria-hidden="true"
																	>

																	</div>
																</div>
															</div>
															<div
																id="qulbox3"
																class="col pt-1 pl-1 pr-1 pb-1 tfs14 bg-theme-5"
															>
																<div
																	class="pt-2 pb-2 pl-2 pr-2 rounded shadow-sm bg-theme-4 text-left"
																>
																	<div class="p-0 mp text-center text-theme-0 tfs14">
																		<span
																			class="badge badge-pill btn-block bg-theme-8 text-theme-1 tfs14"
																		>&nbsp;&nbsp;각인 효과&nbsp;&nbsp;</span><br />

																		<div class="row pt-0 pb-0 pl-2 pr-2 m-0">

																			{{#each activeEngrave as |engrave|}}
																				<!-- start -->
																				<div
																					class="col-12 col-md-6 text-left pt-1 pb-1 pl-0 pr-0 text-theme-0 tfs14 text-nowrap"
																					style="
																					letter-spacing: -1px;
																				"
																					data-toggle="tooltip"
																					data-html="true"
																					title=""
																				>
																					<img
																						src={{engrave.icon}}
																						width="38"
																					/>{{engrave.name}}
																				</div>
																			{{/each}}
																			<!-- end -->
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>

											<div class="pt-0 pb-0 pl-2 pr-2 m-0"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h6></h6>

	</body></html>